<!-- <!DOCTYPE html>
<html>
<head>
	el motor de plantilla reconoce que debe cambiar
	<title><%= title %></title>
</head>
<body> -->

<% include parcials/head.ejs %>

	<!--<h1>Test</h1>-->
	<!--la plantilla ejs permite usar .js-->
	<!--<h1><%= 2+2 %></h1>-->
	<!--<h1><%= new Date() %></h1>-->
	<h1><%= title %> </h1>


<% include parcials/footer.ejs %>